@use 'base/reset' as *;
@use 'abstracts/variables' as *;
@use "layout/global" as *;

.hero-page-wrapper {
  padding: 50px 0;
  border-radius: 20px;
}

.progress-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .progress {
    width: 70%;
    height: 5px;
    background-color: $secondary-pink;
    border-radius: 2.5px;
    position: relative;

    .progress-fill {
      width: 25%;
      height: 100%;
      background-color: $primary-pink;
      border-radius: 2.5px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.store-steps-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;

  .steps-span, .products-span {
    border: 1px solid black;
  }

  .steps-span {
    grid-column: 1/4;
  }

  .products-span {
    grid-column: 4/13;

    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;

      .product-card {
        padding: 20px;
        background-color: #ffffff;
        border-radius: 20px;

        .product-image-wrapper {
          border-radius: 20px;
          overflow: hidden;
          height: 260px;
          background-color: black;
        }

        .product-title {
          font-size: 18px;
          text-transform: capitalize;
          margin: 15px 0;
          color: $dark-blue;
        }

        .button-wrapper {
          display: flex;
          justify-content: flex-end;

          .product-choose {
            width: 170px;

            .product-btn {
              position: relative;
              padding: 5px 30px;
              color: $dark-blue;
              background-color: $secondary-pink;
              border-radius: 25px;
              cursor: pointer;

              &:hover {
                .btn-arrow {
                  left: 92%;
                }
              }

              .btn-arrow {
                width: 28px;
                position: absolute;
                top: 50%;
                left: 89%;
                transform: translateY(-50%);
                transition: all .5s ease;
              }
            }
          }
        }
      }
    }
  }
}























