<footer class="footer main-side-spacing section-y-magring">
  <div class="footer-wrapper">
    <div class="footer-cards">
      <div class="footer-card section-padding section-radius section-main-bg">
        <img src="assets/images/logo.svg" alt="" class="footer-logo">
      </div>

      <div class="footer-card section-padding section-radius section-main-bg">
        <h1 class="footer-heading">Info</h1>
        <div class="info-wrapper">
          <h3 class="info-heading">Schduale</h3>
          <p class="info-detail">From Saturday to Thursday: 09h - 18h</p>
        </div>
        <div class="info-wrapper">
          <h3 class="info-heading">Telephone</h3>
          <p class="info-detail">06 00 00 00 00 / 06 00 00 00 00</p>
        </div>
        <div class="info-wrapper">
          <h3 class="info-heading">Whatsapp</h3>
          <p class="info-detail">06 00 00 00 00</p>
        </div>
        <div class="info-wrapper">
          <h3 class="info-heading">Email</h3>
          <p class="info-detail">info&#64;sophinia.com</p>
        </div>

        <div class="footer-social-media">
          <div>Follow us on</div>
          <div class="social-media">
            <a href="#" class="social-link">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="social-link">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="social-link">
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </div>
        </div>

      </div>

      <div class="footer-card section-padding section-radius section-main-bg">
        <h1 class="footer-heading">Info</h1>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53940.61216483478!2d-6.41442876517806!3d32.33097013254307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda38649419c7fc1%3A0x6236b3e9a12bafd9!2sB%C3%A9ni%20Mellal!5e0!3m2!1sfr!2sma!4v1756576440130!5m2!1sfr!2sma" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-rights">
    <p>Copyrights &copy; 2025. All rights are reserved</p>
  </div>
</footer>


