<header class="header main-side-spacing">
  <nav class="navbar">
    <a routerLink="/" class="logo-link">
      <img src="assets/images/logo.svg" alt="sophinia logo" class="logo">
    </a>

    <ul class="nav-item">
      <li class="nav-item">
        <a href="/" class="item-link">home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="item-link">about</a>
      </li>
      <li class="nav-item">
        <a routerLink="/store" class="item-link">store</a>
      </li>
    </ul>

    <div class="user">
      <div class="cart">
        <img src="assets/images/icons/shopping-bag.png" alt="" class="cart-icon">
      </div>

      <a href="#" class="profile-link">
        <img src="assets/images/user/girl.jpg" alt="" class="profile">
      </a>
    </div>
  </nav>

  <!-- add responsive layout here -->
</header>
