<aside class="sidebar w-64 text-white flex flex-col shrink-0 text-gray-900 px-4">
  <div class="logo-container w-full flex justify-center align-center mb-12">
    <div class="logo-wrapper bg-white p-4 rounded">
      <!--          <img src="/assets/images/logo.svg" />-->
      <img src="https://images.pexels.com/photos/47040/meter-tape-measure-measure-gage-47040.jpeg" alt="sophinia" class="logo w-24">
    </div>
  </div>

  <nav>
    <a class="block p-2 my-2 bg-[#131F67] rounded rounded-xl text-slate-100">
      <i class="fas fa-gauge mr-4"></i> Dashboard
    </a>
    <a class="block p-2 my-2 bg-slate-300 rounded rounded-xl text-slate-700">
      <i class="fas fa-users mr-4"></i> Clients
    </a>
    <a class="block p-2 my-2 bg-slate-300 rounded rounded-xl text-slate-700">
      <i class="fas fa-receipt mr-4"></i> Orders
    </a>
    <a class="block p-2 my-2 bg-slate-300 rounded rounded-xl text-slate-700">
      <i class="fas fa-boxes-stacked mr-4"></i> Products
    </a>
    <a class="block p-2 my-2 bg-slate-300 rounded rounded-xl text-slate-700">
      <i class="fas fa-object-group mr-4"></i> Models
    </a>
    <a class="block p-2 my-2 bg-slate-300 rounded rounded-xl text-slate-700">
      <i class="fas fa-ruler-combined mr-4"></i> Stitches
    </a>
  </nav>
</aside>
