<header class="flex w-full py-4 justify-between items-center border-b border-gray-300">
  <div class="heading-main">
    <!-- todo add burger icon -->
    <h1 class="heading text-3xl">Dashboard</h1>
  </div>

  <div class="nav-right flex items-center">
    <button class="sittings w-8 h-8 rounded-full bg-slate-200 flex justify-center items-center cursor-pointer">
      <i class="fas fa-cog text-gray-700 text-lg"></i>
    </button>
    <button class="notifications w-8 h-8 rounded-full bg-slate-200 flex justify-center items-center ml-3 cursor-pointer">
      <i class="fas fa-bell text-gray-700 text-lg"></i>
    </button>
    <button class="profile w-14 h-14 rounded-full bg-slate-200 flex justify-center items-center ml-3 cursor-pointer">

    </button>
  </div>
</header>
